<!DOCTYPE html>
<html>
<head>
  <title>Server Sent Events Demo: Friends Timeline</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <header id="head">
    <h1>Server Sent Events Demo: Friends Timeline</h1>
  </header>

  <section id="timeline">
    <h2>Timeline</h2>
    <span id="lastMsg"></span>
  </section>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
  <script type="text/javascript" src="{{ static_url("sse.js") }}"></script>
</body>
</html>
